.reviews_header {
  font-size: 36px;
  line-height: 43.2px;
  color: var(--color-light);
  margin: 0;
  padding: 0px 48px 19px 50px;
  letter-spacing: 0.04em;
}

@media (max-width:1415px) {
  .reviews_header {
    font-size: 30px;
}


