.card__button {
  border-radius: 6px;
  color: var(--color-light);
  background-color:var(--color-dark-grey);
  margin-top: 7.56px;
  margin-bottom: 48.44px;
  font-size: 18px;
  line-height: 27px;
  border-style: none;
  padding: 0 16px;
}