.card__text {
  font-size: 22px;
  line-height: 33px;
  color: var(--color-light-grey);
  margin: 0;
  padding-bottom: 18px;
}

@media (max-width:1090px) {
  .card__text {
    font-size: 19px;
  }
}

@media (max-width:650px) {
  .card__text {
    font-size: 17px;
  }
}