.card__subtitle {
  font-size: 17px;
  line-height: 27px;
  color: var(--color-blue);
  margin: 0;
  margin-bottom: 18px;
}

@media (max-width:1090px) {
  .card__subtitle {
    font-size: 14px;
  }
}

@media (max-width:650px) {
  .card_subtitle {
    font-size: 12px;
  }
}