.card__button {
  border-radius: 6px;
  background-color: rgba(25, 25, 25, 1);
  color: white;
  margin-top: 7.56px;
  margin-bottom: 48.44px;
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  border-style: none;
  padding: 0 16px;
}