.hero__header {
    font-family: DM Sans;
    font-size: 64px;
    font-weight: 400;
    line-height: 70.4px;
    letter-spacing: 0.1em;
    color: white;
    margin: 0;
    padding-bottom: 30px;
}


@media (max-width:1210px) {
    .hero__header {
      font-size: 50px;
    }
  }