.footer__container {
  padding: 99.88px 70px 120px 70px;
  display: flex;
  flex-direction: row;
  gap: 16px;
}

@media (max-width:970px) {
  .footer__container {
    flex-direction: column;
    padding: 80px 50px 120px 50px;
  }
}

@media (max-width:510px) {
  .footer__container {
    padding: 80px 30px 120px 30px;
}