.card__header {
  font-size: 64px;
  line-height: 70.4px;
  letter-spacing: 0.1em;
  margin: 0;
  padding-bottom: 28px;
}

@media (max-width:1090px) {
  .card__header {
    font-size: 50px;
  }
}

@media (max-width:650px) {
  .card__header {
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 0em;
  }
}