.episodes__cards {
  max-height: 1689px;
  max-width: 1300px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding: 64.44px 70px 0px 70px;
  margin: 0;
  justify-content: space-between;
}