.episodes__cards {
  max-width: 1300px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding: 64.44px 70px 0px 70px;
  margin: 0;
  justify-content: space-between;
}

@media (max-width:1090px) {
  .episodes__cards {
    padding: 40px 70px 0px 70px;
  }
}