.reviews_cards {
  max-width: 1300px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 321px 364px;
  grid-gap: 16px 16px;
  padding: 100px 70px;
  margin: 0;
  list-style: none;
}

@media (max-width:1091px) {
  .reviews_cards {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 321px 321px;
}

@media (max-width:790px) {
  .reviews_cards {
    grid-template-columns: repeat(1, 1fr);
    
}