.cover__header_bold {
  font-size: 80px;
  font-weight: 700;
  line-height: 88px;
  letter-spacing: 0.1em;
}


@media (max-width:1220px) {
  .cover__header_bold {
    font-size: 50px;
    line-height: 50px;
  letter-spacing: 0.1em;
}

@media (max-width:410px) {
  .cover__header_bold {
    font-size: 30px;
    line-height: 50px;
  letter-spacing: 0.1em;
  }
}