.cover__header_bold {
  font-family: DM Sans;
  font-size: 80px;
  font-weight: 700;
  line-height: 88px;
  letter-spacing: 0.1em;
}


@media (max-width:1090px) {
  .cover__header_bold {
    font-size: 60px;
}