.cover__header_underline {
  display: inline-block;
  position: relative;
}

.cover__header_underline::after {
  content: "";
  background-image: url(../images/underline.png);
  width: 100%;
  height: 11px;
  bottom: 0;
  left: 0;
  position: absolute;
  letter-spacing: 0.1em;
}