.cover__content {
  max-width: 591px;
  display: flex;
  margin: 0;
  flex-direction: column;
  justify-content: flex-end;
}



@media (max-width:1090px) {
  .cover__content {
    max-width: 100%;
  }
}