.header__image {
  max-width: 160px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 50px;
}

@media (max-width:680px) {
  .header__image {
    padding-left: 70px;
  }
}

@media (max-width:510px) {
  .header__image {
    padding-left:50px;
  }
  }

  .banner__light {
    position: absolute;
    max-width: 68px;
    top: 129px;
    left: 45px;
  }

  @media (max-width:510px) {
    .banner__light {
      top: 129px;
      left: 0px;
    }
    }