.episodes__header {
  font-size: 64px;
  line-height: 79.2px;
  letter-spacing: 0.1em;
  margin: 0;
}

@media (max-width:1090px) {
  .episodes__header {
    font-size: 40px;
  }
}


@media (max-width:510px) {
  .episodes__header {
    font-size: 30px;
    line-height: 70px;
  letter-spacing: 0em;
  }
}