.episodes__header {
  font-family: DM Sans;
  font-size: 64px;
  font-weight: 400;
  line-height: 79.2px;
  letter-spacing: 0.1em;
  margin: 0;
  color: white;
}

@media (max-width:1090px) {
  .episodes__header {
    font-size: 40px;
  }
}